.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 32px);
}

.subtitle_container {
    display: flex;
    align-items: end;
    gap: 10px;
    min-height: 42px;
}

.subtitle {
    font-size: var(--details-title-f-s);
    font-weight: var(--details-title-f-w);
    color: var(--details-title-f-c);
    margin: 0;
    line-height: 24px;
}

.sm_txt {
    font-size: var(--details-subtitle-f-s);
    font-weight: var(--details-subtitle-f-w);
    color: var(--details-subtitle-f-c);
    white-space: nowrap;
}

.cashback_amount {
    font-weight: var(--details-amount-f-w);
    color: var(--details-amount-f-c);
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.btn {
    background: var(--primary-btn-bg);
    color: var(--primary-btn-f-c);
    border-radius: var(--primary-btn-radius);
    border-width: var(--primary-btn-border-w);
    border-color: var(--primary-btn-border-c);
    font-size: var(--primary-btn-f-s);
    font-weight: var(--primary-btn-f-w);
    border-style: solid;
    cursor: pointer;
    width: 290px;
    height: 36px;
}

.xMark:hover {
    transform: scale(1.1);
}

.details {
    display: flex;
    width: 411px;
    height: 86px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 7px 19px 26px 20px;
    margin-top: 26px;
    margin-bottom: 22px;
    background: var(--details-bg);
    border-radius: var(--details-radius);
    border-width: var(--details-border-w);
    border-style: solid;
    border-color: var(--details-border-c);
    user-select: none;
}

.wallet_spacer {
    height: 23px;
    margin-bottom: 9px;
}

.top_container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    gap: 7px;
}

.wallet_container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 23px;
    background: var(--wallet-bg);
    padding: 0 12px;
    border-radius: var(--wallet-radius);
    margin-bottom: 9px;
}

.wallet {
    font-size: var(--wallet-f-s);
    font-weight: var(--wallet-f-w);
    color: var(--wallet-f-c);
    border-width: var(--wallet-border-w);
    border-style: solid;
    border-color: var(--wallet-border-c);
}

.btns_container {
    display: flex;
    gap: 8px;
}

.action_btn {
    color: var(--secondary-btn-f-c);
    background: var(--secondary-btn-bg);
    border-width: var(--secondary-btn-border-w);
    border-style: solid;
    border-color: var(--secondary-btn-border-c);
    border-radius: var(--secondary-btn-radius);
    font-size: var(--secondary-btn-f-s);
    font-weight: var(--secondary-btn-f-w);
    width: 140px;
    height: 28px;
    cursor: pointer;
}

.demo_container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 23px;
    background: var(--wallet-bg);
    padding: 0 12px;
    border-radius: var(--wallet-radius);
    margin-bottom: 9px;
}

.demo_label {
    font-size: var(--wallet-f-s);
    font-weight: var(--wallet-f-w);
    color: var(--wallet-f-c);
    border-width: var(--wallet-border-w);
    border-style: solid;
    border-color: var(--wallet-border-c);
}