.btn {
    position: absolute;
    right: 16px;
    top: 16px;
    background: transparent;
    z-index: 1;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.icon {
    width: 16px;
    height: 16px;
    background: var(--x-btn-f-c, var(--close-f-c));

    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-image: url('/icons/x-mark.svg');

    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url('/icons/x-mark.svg');
}