.container {
    display: flex;
    gap: 16px;
    min-height: 50px;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding-left: 8px;
}

.notification_details {
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: var(--notification-btn-color);
    text-align: center;
    width: 102px;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 500;
    border-radius: var(--notification-btn-radius);
    background: var(--notification-btn-bg);
}