.container {
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--optout-bg);
    padding: 16px;
    border-radius: var(--optout-radius);
}

.title {
    font-size: var(--optout-f-s);
    font-weight: var(--optout-f-w);
    color: var(--optout-f-c);
    line-height: 28px;
    margin-bottom: 4px;
}

.description {
    text-align: center;
    font-size: var(--optout-desc-f-s, 14px);
    font-weight: var(--optout-desc-f-w, 400);
    color: var(--optout-desc-f-c, white);
    line-height: 22px;
}

.radio_group {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.radio_group_title {
    font-size: var(--label-desc-f-s, 16px);
    font-weight: var(--label-desc-f-w, 500);
    color: var(--label-desc-f-c, white);
    line-height: 24px;
}

.radio_container {
    display: flex;
    gap: 24px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.label {
    text-wrap: nowrap;
    cursor: pointer;
    font-size: var(--label-f-s, 16px);
    font-weight: var(--label-f-w, 400);
    color: var(--label-f-c, white);
    line-height: 24px;
}

.radio {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--secondary-btn-border-c);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background: var(--secondary-btn-border-c);
    border-radius: 50%;
}

.btn {
    background: var(--primary-btn-bg);
    color: var(--primary-btn-f-c);
    border-radius: var(--primary-btn-radius);
    border-width: var(--primary-btn-border-w);
    border-color: var(--primary-btn-border-c);
    font-size: var(--primary-btn-f-s);
    font-weight: var(--primary-btn-f-w);
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: 40px;
    line-height: 22px;
}

.message {
    font-size: var(--optout-f-s);
    font-weight: var(--optout-f-w);
    color: var(--optout-f-c);
    text-align: center;
}

.apply_btn {
    margin-top: 16px;
}

.close_btn {
    background: transparent;
    color: var(--close-f-c, white);
    font-size: var(--close-f-s, 14px);
    font-weight: var(--close-f-w, 500);
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 22px;
    margin-top: 8px;
}