.xMark {
    position: absolute;
    right: 16px;
    top: 16px;
    background: transparent;
    z-index: 10;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}