.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.wallet_container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 23px;
    background: var(--wallet-bg);
    padding: 0 12px;
    border-radius: var(--wallet-radius);
    margin-bottom: 9px;
}

.wallet {
    color: var(--wallet-f-c);
    font-size: var(--wallet-f-s);
    font-weight: var(--wallet-f-w);
    border-width: var(--wallet-border-w);
    border-style: solid;
    border-color: var(--wallet-border-c);
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    margin-bottom: 20px;
}

.p {
    font-size: var(--activate-title-f-s);
    font-weight: var(--activate-title-f-W);
    color: var(--activate-title-f-c);
    margin: 0;
    line-height: 18px;
    text-align: center;
}

.bold {
    font-size: var(--activate-title-bold-f-s);
    font-weight: var(--activate-title-bold-f-w);
    color: var(--activate-title-bold-f-c);
}

.activate_btn {
    font-size: var(--primary-btn-f-s);
    font-weight: var(--primary-btn-f-w);
    color: var(--primary-btn-f-c);
    background: var(--primary-btn-bg);
    border-width: var(--primary-btn-border-w);
    border-style: solid;
    border-color: var(--primary-btn-border-c);
    border-radius: var(--primary-btn-radius);
    width: 290px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}

.markdown {
    padding: 4px 12px;
    border-radius: var(--markdown-radius);
    border-width: var(--markdown-border-w);
    border-style: solid;
    border-color: var(--markdown-border-c);
    max-height: 102px;
    color: var(--markdown-f-c);
    background: var(--markdown-bg);
    font-size: var(--markdown-f-s);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
    margin-bottom: 25px;
}

.markdown::-webkit-scrollbar {
    width: 4px;
}

.markdown::-webkit-scrollbar-thumb {
    background: var(--markdown-scrollbar-color);
    border-radius: 32px;
}