.cashback_symbol {
    display: inline-block;
    margin-left: 8px;
    background: var(--token-bg);
    border-width: var(--token-border-w);
    border-style: dashed;
    border-color: var(--token-border-c);
    color: var(--token-f-c);
    min-width: 80px;
    text-align: center;
    padding: 4px 9px;
    border-radius: var(--token-radius);
    font-size: var(--token-f-s);
    font-weight: var(--token-f-w);
}

.select {
    background: var(--token-bg);
    font-size: var(--token-f-s);
    font-weight: var(--token-f-w);
    color: var(--token-f-c);
    border-width: var(--token-border-w);
    border-style: dashed;
    border-color: var(--token-border-c);
    border: 0;
    margin-left: 8px;
    padding: 4px 9px;
    text-align: center;
    border-radius: var(--token-radius);
    outline: none;
    cursor: pointer;
}